<a href="https://colab.research.google.com/github/lavratti/aulas_interpretadores/blob/main/Vetoriza%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import nltk
nltk.download('punkt')
import re
import requests
from bs4 import BeautifulSoup

url = 'https://ai.googleblog.com/2022/04/pathways-language-model-palm-scaling-to.html'
page = requests.get(url)
page = page.text
soup = BeautifulSoup(page, features="lxml")
for script in soup(["script", "style"]):
    script.decompose()
raw_text  = soup.get_text()

cleaned = re.sub(r"(?is)<(script|style).*?>.*?(</\1>)", "", raw_text.strip())
cleaned = re.sub(r"(?s)<!--(.*?)-->[\n]?", "", cleaned)
cleaned = re.sub(r"(?s)<.*?>", " ", cleaned)
cleaned = re.sub(r"&nbsp;", " ", cleaned)
cleaned = re.sub(r"  ", " ", cleaned)
cleaned = re.sub("\n", " ", cleaned)
cleaned = re.sub("'", " ", cleaned)
cleaned = re.sub("\"", " ", cleaned)
cleaned = cleaned.strip()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
sent_tokens = nltk.sent_tokenize(cleaned)
word_tokens = nltk.word_tokenize(cleaned)

In [ ]:
import math

total_ocurrences = {}
occured_in_n_docs = {}

for sentence in sent_tokens:
  for word in word_tokens:
 
    c = sentence.count(word)
 
    try:
      total_ocurrences[word] += c
    except KeyError:
      total_ocurrences[word] = c 
 
    if c > 0:
      try:
        occured_in_n_docs[word] += 1
      except KeyError:
        occured_in_n_docs[word] = 1
 

tfidf = []
i = 0
for sentence in sent_tokens:
  w = {"sentence_n": i}
  for word in word_tokens:
    # w = tf * log(N/df)
    tf = sentence.count(word)
    N = total_ocurrences[word]
    df = occured_in_n_docs[word]
    if tf == 0:
      w[word] = 0
    else:
      w[word] = tf * math.log(N/df)
  tfidf.append(w)
  i += 1

In [ ]:
import pandas as pd
pd.DataFrame(tfidf)

,sentence_n,Google,AI,Blog,:,Pathways,Language,Model,(,PaLM,...,2006,Feed,Follow,@,googleai,Give,feedback,Product,Forums,Terms
0,0,4.031204,0.559616,1.386294,0.863046,0.810930,0.81093,1.119232,0.696613,0.216427,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.348307,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.343735,0.000000,0.000000,0.000000,0.405465,0.00000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,61,1.343735,0.000000,0.000000,0.000000,0.405465,0.00000,0.000000,0.000000,0.108214,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
62,62,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,63,0.000000,0.000000,0.000000,0.287682,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
64,64,21.499756,2.238463,0.000000,0.000000,0.000000,0.81093,1.119232,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
65,65,1.343735,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0